<style>h1{color:white !important}.container{width:100%;max-width:1050px}h1{font-size:26px;padding:0 0 5px 0;line-height:1.2em;color:#000;margin-bottom:0}#lead{clear:both;width:600px}#lead p{color:#444;font-family:Georgia,Palatino,serif;font-size:1.0em;line-height:1.4em}.chart{float:left;padding-right:5px;padding-bottom:5px;padding-top:0;padding-left:0}svg{font-size:10px}.background{fill:none}.area{fill:#d52834}.line{fill:none;stroke:black;stroke-width:1.4px}.title{font-size:12px}.axis line,.grid line{stroke-width:.5px;shape-rendering:crispEdges;stroke:#fff;opacity:.5;pointer-events:none}.axis path{display:none}.hidden{display:none;opacity:.0}#button-wrap{width:220px;margin-left:auto;margin-right:auto;height:40px;margin-bottom:10px;padding-left:5px}.button{cursor:pointer;float:left;width:100px;height:30px;text-align:center;background:#fcfcfc;border:1px solid #cecece;display:block;padding-top:5px;margin-top:10px;border-radius:5px 5px 5px 5px}.button.active{box-shadow:inset 0 0 7px rgba(0,0,0,0.18);pointer-events:none;background-color:#e6e6e6}#count{border-radius:5px 0 0 5px}#name{border-radius:0 5px 5px 0}</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.4/isotope.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>


<div class="b-data__bg" style="background-image: url('https://interaktivni.rozhlas.cz/data/erasmus-snwfl/media/cover.jpg');"><span class="b-data__caption">Ilustrační foto z filmu Erasmus a spol.</span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Proč české studenty láká víc Španělsko než Polsko</strong><br>
		<small>Server iROZHLAS.cz analyzoval data o desítkách tisíc českých studentů, kteří vyjeli do zahraničí s výměnným programem Erasmus.</small>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Petr Kočí</a>
	<span class="meta__separator">|</span>
	<time>29. června 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">
<div class="row-main row-main--narrow">

<p>Zatímco do Španělska zamířilo v uplynulém akademickém roce na studijní pobyty a stáže osm stovek českých vysokoškoláků, podobně lidnaté Polsko jich přilákalo čtvrtinu. Vyplývá to z dat o desítkách tisíc absolventů výměnného programu Evropské unie Erasmus. Ten letos v červnu <a href="https://ec.europa.eu/programmes/erasmus-plus/anniversary/30th-anniversary-and-you_cs">slaví</a> 30 let od svého vzniku. České školy se ho účastní od roku 1998, od té doby díky němu vycestovalo do zahraničí přes čtvrt milionu českých studentů i pedagogů.</p>
<p>"Ve Španělsku je pro české studenty velkým lákadlem španělština, druhý nejrozšířenější jazyk na světě. Roli hraje také široká nabídka univerzit a někdy samozřejmě i klima a moře," vysvětluje Lucie Durcová z Domu zahraniční spolupráce ministerstva školství.</p>
<p>Naproti tomu Polsko, podobně jako Slovensko a Maďarsko podle ní mnohé studenty odrazuje svou kulturní – a v případě prvních dvou zemí i jazykovou - blízkostí. "Když už tam někdo jede, tak hlavně do Budapešti," popisuje propagátorka Erasmu svou zkušenost, kterou získala jako vedoucí tohoto programu na Masarykově univerzitě v Brně. V opačném směru je bariéra menší: Slováci jsou třetí a Poláci pátí na žebříčku studentů, kteří přijíždějí do Česka.  </p>
<h2>Kam jezdí čeští vysokoškoláci na Erasmus?</h2>
<p>Data o všech českých vysokoškolácích, kteří s Erasmem vycestovali od roku 2005, si můžete prostudovat v interaktviním grafu. Údaje za akademický rok 2016/2017 nejsou definitivní, čísla představují odhad DZS na základě posledních dostupných čísel.</p>
<p></div><div class="row-main row-main--article">
  <div class="container">
    <div id="lead">
    </div>
    <div id="main">
      <div id="button-wrap">
        <div id="count" class="button active">DLE POČTU</div>
        <div id="name" class="button">ABECEDNĚ</div>
      </div></p>
<div id="vis"></div>

<p></div>
</div> <script>
    $(document).ready(function() {
    });
  </script>
Zdroj dat: <a href="http://www.dzs.cz/">Dům zahraniční spolupráce</a>, vizualizace využívá <a href="https://github.com/vlandham/small_mults">kód Jima Vallandinghama</a> 
</div><div class="row-main row-main--narrow"></p>
<p>Dlouhodobě nejpopulárnější destinace českých "erasmáků" je Německo. Roli při jeho výběru hraje dobrá dopravní dostupnost, pestrá nabídka univerzit i možnost navázat kontakty a ucházet se pak případně v hospodářsky nejvýkonnější evropské zemi o zaměstnání.</p>
<p>Studenti nemají při výběru země pro studijní pobyt úplně volnou ruku, záleží na jejich škole či fakultě, jaké smlouvy si vyjedná se zahraničními univerzitami. Bez pomoci školy si mohou studenti sami domluvit stáže v konkrétních podnicích či ve školách, pak nejsou svázáni aktuální nabídkou míst a mohou jet do libovolné země EU. Takových stáží jsou ale každý rok jen stovky, na studijní pobyty vyjíždí ročně přes osm tisíc českých vysokoškoláků.</p>
<h2>Opadá zájem o Řecko a Turecko</h2>
<p>Do programu Erasmus je zapojené i Turecko, poptávka po studiu v Istanbulu či Ankaře však od roku 2014 ochabla. Místo tří stovek před dvěma lety zamířilo letos za Bospor méně než osmdesát studentů. "Může za to jednoznačně nestabilní politická situace, obavy o bezpečnost a teroristické útoky," vysvětluje Durcová z Domu zahraniční spolupráce.</p>
<p>Podobně opadl zájem o Řecko. "Studenti přijeli a často zjistili, že univerzity vyhlásily generální stávku a prostě se neučilo, tudíž nebylo co a kde studovat." Podle podmínek Erasmu přitom musejí jeho účastníci splnit studijní povinnosti a získat za ně určitý počet kreditů, jinak jim hrozí, že budou muset vrátit stipendium, v krajním případě i vyloučení ze studia na domovské škole. "To bude důvod, proč se Řecku vyhýbají," domnívá se Lucie Durcová.</p>
<p>Účastníci Erasmu dostávají od Evropské unie paušální stipendium, částka se liší podle toho, kam jedou. V nejdražších, například skandinávských zemích, pobírají 500 euro (13 tisíc korun) za měsíc, ve středně drahých 400 euro (10 tisíc korun) a v nejlevnějších 300 euro (8 tisíc) měsíčně. Pokud jedou na individuálně domluvenou stáž, dostanou studenti měsíčně v každé kategorii ještě o 100 euro víc. Se stipendiem mohou nakládat podle svého uvážení. Výhodou Erasmu je, že jeho účastníci neplatí školné ani v zemích, kde se běžně školné platí.</p>
<p>Evropská unie na cesty českých vysokoškoláků v programu Erasmus přispěje příští rok 22 miliony eur (580 milionů korun), zhruba stejnou částku zaplatí ministerstvo školství jako příspěvek vysokým školám na internacionalizaci. </p>

</div>
</div><script>var SmallMultiples,plotData,setupIsoytpe,transformData;SmallMultiples=function(){var area,bisect,caption,chart,circle,curYear,data,format,height,line,margin,mousemove,mouseout,mouseover,setupScales,width,xScale,xValue,yAxis,yScale,yValue;width=150;height=120;margin={top:15,right:10,bottom:40,left:35};data=[];circle=null;caption=null;curYear=null;bisect=d3.bisector(function(d){return d.date;}).left;format=d3.time.format("%Y");xScale=d3.time.scale().range([0,width]);yScale=d3.scale.linear().range([height,0]);xValue=function(d){return d.date;};yValue=function(d){return d.n;};yAxis=d3.svg.axis().scale(yScale).orient("left").ticks(4).outerTickSize(0).tickSubdivide(1).tickSize(-width);area=d3.svg.area().x(function(d){return xScale(xValue(d));}).y0(height).y1(function(d){return yScale(yValue(d));});line=d3.svg.line().x(function(d){return xScale(xValue(d));}).y(function(d){return yScale(yValue(d));});setupScales=function(data){var extentX,maxY;maxY=d3.max(data,function(c){return d3.max(c.values,function(d){return yValue(d);});});maxY=maxY+(maxY*1/4);yScale.domain([0,maxY]);extentX=d3.extent(data[0].values,function(d){return xValue(d);});return xScale.domain(extentX);};chart=function(selection){return selection.each(function(rawData){var div,g,lines,svg;data=rawData;setupScales(data);div=d3.select(this).selectAll(".chart").data(data);div.enter().append("div").attr("class","chart").append("svg").append("g");svg=div.select("svg").attr("width",width+margin.left+margin.right).attr("height",height+margin.top+margin.bottom);g=svg.select("g").attr("transform","translate("+margin.left+","+margin.top+")");g.append("rect").attr("class","background").style("pointer-events","all").attr("width",width+margin.right).attr("height",height).on("mouseover",mouseover).on("mousemove",mousemove).on("mouseout",mouseout);lines=g.append("g");lines.append("path").attr("class","area").style("pointer-events","none").attr("d",function(c){return area(c.values);});lines.append("path").attr("class","line").style("pointer-events","none").attr("d",function(c){return line(c.values);});lines.append("text").attr("class","title").attr("text-anchor","middle").attr("y",height).attr("dy",margin.bottom/2+5).attr("x",width/2).text(function(c){return c.key;});lines.append("text").attr("class","static_year").attr("text-anchor","start").style("pointer-events","none").attr("dy",13).attr("y",height).attr("x",0).text(function(c){return xValue(c.values[0]).getFullYear();});lines.append("text").attr("class","static_year").attr("text-anchor","end").style("pointer-events","none").attr("dy",13).attr("y",height).attr("x",width).text(function(c){return xValue(c.values[c.values.length-1]).getFullYear();});circle=lines.append("circle").attr("r",2.2).attr("opacity",0).style("pointer-events","none");caption=lines.append("text").attr("class","caption").attr("text-anchor","middle").style("pointer-events","none").attr("dy",-8);curYear=lines.append("text").attr("class","year").attr("text-anchor","middle").style("pointer-events","none").attr("dy",13).attr("y",height);return g.append("g").attr("class","y axis").call(yAxis);});};mouseover=function(){circle.attr("opacity",1.0);d3.selectAll(".static_year").classed("hidden",true);return mousemove.call(this);};mousemove=function(){var date,index,year;year=xScale.invert(d3.mouse(this)[0]).getFullYear();date=format.parse(''+year);index=0;circle.attr("cx",xScale(date)).attr("cy",function(c){index=bisect(c.values,date,0,c.values.length-1);return yScale(yValue(c.values[index]));});caption.attr("x",xScale(date)).attr("y",function(c){return yScale(yValue(c.values[index]));}).text(function(c){return yValue(c.values[index]);});return curYear.attr("x",xScale(date)).text(year);};mouseout=function(){d3.selectAll(".static_year").classed("hidden",false);circle.attr("opacity",0);caption.text("");return curYear.text("");};chart.x=function(_){if(!arguments.length){return xValue;}
xValue=_;return chart;};chart.y=function(_){if(!arguments.length){return yValue;}
yValue=_;return chart;};return chart;};transformData=function(rawData){var format,nest;format=d3.time.format("%Y");rawData.forEach(function(d){d.date=format.parse(d.year);return d.n=+d.n;});nest=d3.nest().key(function(d){return d.category;}).sortValues(function(a,b){return d3.ascending(a.date,b.date);}).entries(rawData);return nest;};plotData=function(selector,data,plot){return d3.select(selector).datum(data).call(plot);};setupIsoytpe=function(){$("#vis").isotope({itemSelector:'.chart',layoutMode:'fitRows',getSortData:{count:function(e){var d,sum;d=d3.select(e).datum();sum=d3.sum(d.values,function(d){return d.n;});return sum*-1;},name:function(e){var d,key;d=d3.select(e).datum();key=d.key.replace("Ř","Rz");key=key.replace("Š","Sz");return key;}}});return $("#vis").isotope({sortBy:'count'});};$(function(){var display,plot;plot=SmallMultiples();display=function(error,rawData){var data;if(error){console.log(error);}
data=transformData(rawData);plotData("#vis",data,plot);return setupIsoytpe();};queue().defer(d3.tsv,"https://interaktivni.rozhlas.cz/data/erasmus/data/vyjizdejici.tsv").await(display);return d3.select("#button-wrap").selectAll("div").on("click",function(){var id;id=d3.select(this).attr("id");d3.select("#button-wrap").selectAll("div").classed("active",false);d3.select("#"+id).classed("active",true);return $("#vis").isotope({sortBy:id});});});</script>
